*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 5000px;
}

/* ----------- HEADER DESKTOP ---------- */

#nav-top {
    height: 73px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1600px;
    padding: 0 5%;
    margin: 0 auto;
    position: sticky;
    z-index: 9999;
    top: 0;
    transition: all 0.2s ease-in-out;
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-top {
    height: 50px;
    width: 30px;
    margin-top: 5px;
}

#logo-text-top {
    height: 30px;
    width: 100px;
    margin-left: 10px;
}

#menu-nav {
    width: fit-content;
    display: flex;
    align-items: center;
}

.desktop-link-nav {
    display: none;
}

#menu-burger-mobile {
    display: block;
    margin-top: 40%;
}


/* ----------- MAIN DESKTOP ---------- */


#main-section {
    background-image: url(./img/main-image.png);
    background-size: cover;
    min-height: 575px;
    min-width: 250px;
    max-height: 740px;
    height: 90vh;
    width: 100vw;
    padding: 50px 15% 0 15%;
}

#main-information {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#main-information>h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 18px;
    text-transform: uppercase;
    color: #DF6951;
}

h1 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 54px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    position: relative;
    z-index: 999;
}

/* h1::after {
    content: url(./img/Decore-h1.svg);
    position: absolute;
    bottom: -5%;
    left: 0;
    z-index: 99;
}  */

#main-information p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 18px;
    color: #E6E8F3;
}

.btn-discover {
    width: 204px;
    height: 60px;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: block;
}

@media screen and (min-width:650px) {

    #main-section {
        background-image: url(./img/main-image.png);
        background-size: cover;
        min-height: 575px;
        min-width: 250px;
        max-height: 740px;
        padding: 100px 0 100px 10%
    }

    #main-information {
        width: 80%;
        margin-right: 20%;
        text-align: left;
        align-items: flex-start;
        min-height: 378px;
        height: 90%;
    }

    #main-information h1 {
        font-size: 4.5rem;
        line-height: 89px;
    }
}

@media screen and (min-width:1050px) {

    #main-section {
        background-image: url(./img/main-image.png);
        background-size: cover;
        min-height: 575px;
        min-width: 250px;
        max-height: 740px;
        padding: 50px 0 100px 10%;
    }

    #main-information {
        width: 50%;
        margin-right: 50%;
        text-align: left;
        align-items: flex-start;
        min-height: 378px;
        height: 40vh;
    }

    #menu-burger-mobile {
        display: none;
    }

    #menu-nav ul {
        width: 550px;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .desktop-link-nav {
        display: block;
    }

    ul li a {
        text-decoration: none;
        color: #212832;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 19px;
    }

    ul li a:hover {
        text-decoration: underline;
    }

    #main-section {
        padding: 100px 0 100px 10%
    }

    #main-information {
        width: 50%;
        margin-right: 50%;
        min-height: 378px;
        height: 100%;
    }

    #main-information h1 {
        font-size: 5rem;
        line-height: 89px;
    }
}

/* ----------- SECTION - NOUVEAUTE - DESKTOP ---------- */

#section-nouveauté {
    width: 100vw;
    min-width: 300px;
    padding-top: 60px;
}

#section-nouveauté>span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 21px;
    text-align: center;
    color: #5E6282;
    display: block;
    margin-top: 30px;
}

#section-nouveauté h2 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
    margin: 10px 0;
}

.container-card-menu {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.container-card-menu article {
    margin: 25px;
}

.card-menu {
    width: 280px;
    height: fit-content;
    box-shadow: 0px 4px 32px 5px rgb(0 0 0 / 5%);
    border-radius: 24px;
    margin: 50px auto;
}

.pict-top-card {
    height: 280px;
    border-radius: 24px 24px 0 0;
}

.card-menu>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 141%;
    color: #5E6282;
    text-align: center;
    padding: 6% 10%;
}

.container-card-maki {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    margin: 0 auto;
    /* max-width: 1000px; */
    width: 100%;
}

.card-maki {
    display: flex;
    margin: 0 auto;
    min-width: 280px;
    width: 80vw;
    justify-content: left;
}

.card-maki-description {
    margin: auto 0;
    padding-bottom: 30px;
    max-height: 100px;
    min-width: 70px;
}

.card-maki-description>h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    color: #1E1D4C;
    margin-bottom: 7%;
}

.card-maki-description>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 141%;
    color: #5E6282;
}

#btn-section-discover {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 100px;
}

@media screen and (min-width:650px) {
    .container-card-maki {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 250px;
        margin: 30px auto;
        /* max-width: 1000px; */
        width: fit-content;
    }

    .card-maki {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        width: 280px;
        position: relative
    }

    .card-maki:hover {
        position: relative;
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        border-radius: 25px;
    }

    .card-maki-description {
        text-align: center;
        padding-bottom: 30px;
        max-width: 150px;
    }
}

/* ----------- SECTION - VOYAGE - DESKTOP ---------- */

#section-voyage {
    width: 100vw;
    background-image: url(./img/illustration_chef.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 300px;
    height: 300px;
    margin-bottom: 300px;
}

#section-voyage>figure {
    margin: 0 auto;
}

#section-voyage>figure>img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top: -300px;
    left: 0;
    object-fit: cover;
}

#btn-play {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 50px;
    z-index: 9999;
}

#section-voyage-description {
    display: none;
}

#pict-intersection {
    height: 620px;
    width: 100vw;
}

#pict-intersection>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pict-intersection>img:first-of-type {
    margin-bottom: -5px;
}

@media screen and (min-width:650px) {
    #section-voyage {
        height: 1200px;
        margin-bottom: 0;
        top: 0;
        padding: 300px 6%;
    }

    #section-voyage>figure>img {
        width: 305px;
        height: 164px;
        margin: 0 auto;
        position: absolute;
        top: 50px;
        left: 50px;
        object-fit: cover;
        border-radius: 25px;
    }

    #btn-play {
        position: absolute;
        top: 130px;
        left: 200px;
        border-radius: 50px;
        z-index: 9999;
    }

    #section-voyage-description {
        display: flex;
        justify-content: flex-start;
        justify-content: space-between;
        flex-direction: column;
        max-width: 550px;
        height: 550px;
    }

    #section-voyage-description>h1 {
        font-family: 'Volkhov';
        font-style: normal;
        font-weight: 700;
        line-height: 89px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        font-size: 4.6rem;
    }

    #section-voyage-description>h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 30px;
        color: #FFFFFF;
        width: 420px;
    }

    #pict-intersection {
        display: inline-block;
        position: relative;
        width: 100%;
    }

    #pict-intersection>img {
        width: 50%;
        position: absolute;
        top: -250px;
    }

    #pict-intersection>img:last-of-type {
        right: 0;
    }







}