*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------- HEADER DESKTOP ---------- */

#header {
    position: sticky;
    z-index: 9999;
    top: 0;
    transition: all 0.2s ease-in-out;
}

#nav-top {
    height: 73px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    background-color: #fff;
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo:hover img:first-of-type {
    animation: logo-animation 0.5s ease-in;
}

@keyframes logo-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#logo-top {
    height: 50px;
    width: 30px;
    margin-top: 5px;
}

#logo-text-top {
    height: 30px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#menu-nav {
    width: fit-content;
    display: flex;
    align-items: center;
}

.desktop-link-nav {
    display: none;
}

#menu-burger-mobile {
    display: block;
    margin-top: 40%;
}


/* ----------- MAIN DESKTOP ---------- */


#main-section {
    background-image: url(./img/main-image.png);
    background-size: cover;
    min-height: 575px;
    min-width: 250px;
    max-height: 740px;
    height: 90vh;
    width: 100%;
    padding: 50px 15% 0 15%;
}

#main-information {
    width: 100%;
    height: 80%;
    min-height: 488px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#main-information>h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 18px;
    text-transform: uppercase;
    color: #DF6951;
}

h1 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 54px;
    letter-spacing: -0.04em;
    color: #fff;
    position: relative;
    z-index: 999;
    letter-spacing: 0.5px;
}

h1::after {
    content: "";
    background-image: url(./img/Decore-h1.svg);
    background-size: cover;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 250px;
    height: 10px;
}  

#main-information p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 30px;
    color: #bfc0cd;
}

.btn-discover {
    width: 204px;
    height: 60px;
    background: #F1A501;
    box-shadow: 0px 10px 15px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.btn-discover:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

@media screen and (min-width:650px) {

    #main-section {
        background-image: url(./img/main-image.png);
        background-size: cover;
        min-height: 575px;
        min-width: 250px;
        max-height: 740px;
        padding: 100px 0 100px 10%
    }

    #main-information {
        text-align: left;
        align-items: flex-start;
        min-height: 378px;
        height: 90%;
        min-height: 490px; 
    }

    #main-information h1 {
        font-size: 4.5rem;
        line-height: 89px;
    }

    h1::after {
        bottom: 0;
        left: 25%;
        width: 250px;
        height: 10px;
    }  

    #main-information>p {
        width: 60%;
        font-size: 1rem;
    }
}

@media screen and (min-width:1050px) {

    #main-section {
        background-image: url(./img/main-image.png);
        background-size: cover;
        min-height: 575px;
        min-width: 250px;
        max-height: 740px;
        padding: 50px 0 100px 10%;
    }

    #main-information {
        text-align: left;
        align-items: flex-start;
        min-height: 460px;
        height: 100%;
    }

    #menu-burger-mobile {
        display: none;
    }

    #menu-nav ul {
        width: 550px;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .desktop-link-nav {
        display: block;
    }

    #menu-nav>ul>li>a {
        text-decoration: none;
        color: #212832;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 19px;
    }

    #menu-nav>ul li a:hover {
        text-decoration: underline;
    }

    #main-section {
        padding: 100px 0 100px 10%
    }

    #main-information>p {
        width: 50%;
    }

    #main-information h1 {
        font-size: 5.2rem;
        line-height: 89px;
    }
}

/* ----------- SECTION - NOUVEAUTE - DESKTOP ---------- */

#section-nouveauté {
    width: 100%;
    min-width: 300px;
    padding-top: 60px;
    background-image: url(./img/decor_1.svg);
    background-repeat: no-repeat;
    background-position: 98% 2%;
}

#section-nouveauté>span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 21px;
    text-align: center;
    color: #5E6282;
    display: block;
    margin-top: 30px;
}

#section-nouveauté h2 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
    margin: 10px 0;
}

.container-card-menu {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 900;
}

.container-card-menu article {
    margin: 25px 18px 60px 18px;
}

.card-menu {
    width: 280px;
    height: fit-content;
    box-shadow: 0px 4px 32px 5px rgb(0 0 0 / 5%);
    border-radius: 24px;
    margin: 50px auto;
}

.card-menu:last-of-type {
position: relative;
}

.card-menu:last-of-type::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 100%;
    right: -26px;
    bottom: 0;
    background: url(./img/decoration_filet.svg) no-repeat;
    background-position: 100% 80%;
} 

.pict-top-card {
    height: 280px;
    border-radius: 24px 24px 0 0;
}

.card-menu>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 141%;
    color: #5E6282;
    text-align: center;
    padding: 6% 10%;
}

.container-card-maki {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    margin: 0 auto 60px auto;
    width: 100%;
}

.card-maki {
    display: flex;
    margin: 0 auto;
    min-width: 280px;
    width: 80vw;
    justify-content: left;
    height: fit-content;
}

.card-maki-description {
    margin: auto 0;
    padding-bottom: 30px;
    max-height: 100px;
    min-width: 70px;
    height: fit-content;
}

.card-maki-description>h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    color: #1E1D4C;
    margin-bottom: 7%;
}

.card-maki-description>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 141%;
    color: #5E6282;
}

#btn-section-discover {
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
}

@media screen and (min-width:650px) {
    .container-card-maki {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 250px;
        margin: 30px auto;
        width: 90%;
        max-width: 1135px;
    }

    .card-maki {
        display: flex;
        flex-direction: column;
        margin: 0 auto 100px auto;
        align-items: center;
        width: 280px;
        position: relative;
        height: 300px;
    }

    .card-maki:hover {
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 25px;
    }

    .card-maki::before {
        content: "";
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: -35px;
        left: -35px;
        opacity: 0;
        background: url(./img/decoration_rose.svg) no-repeat;
        background-size: cover;
        transform: rotate(0);
        transition: opacity 0.5s, transform 0.5s;
        transition-delay: 0s;
        z-index: 1;
    }
    .card-maki:hover::before {
        transform: rotate(90deg);
        opacity: 1;
    }

    .card-maki::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 1;
        background-color: #fff;
        border-radius: 24px;
        transition: opacity 0.3s;
        transition-delay: 0.3s;
    }

    .card-maki:not(:hover) {
        box-shadow: none;
        background-color: transparent;
    }

    .card-maki>img {
        z-index: 2;
    }

    .card-maki-description {
        text-align: center;
        padding: 30px;
        max-width: 300px;
        z-index: 2;

    }

    .card-maki-description>h3 {
        font-size: 1.4rem;
        width: 100%;
        margin-top: -35px;
    }
}

/* ----------- SECTION - VOYAGE - DESKTOP ---------- */

#section-voyage {
    width: 100%;
    background-image: url(./img/illustration_chef.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 300px;
    height: 300px;
    margin-bottom: 300px;
    z-index: 700;
}

#section-voyage>figure {
    margin: 0 auto;
}

#section-voyage>figure>img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top: -300px;
    left: 0;
    object-fit: cover;
}

#btn-play {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 50px;
    z-index: 999;
}

#section-voyage-description {
    display: none;
}

#pict-intersection {
    height: 620px;
    width: 100%;
}

#pict-intersection>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pict-intersection>img:first-of-type {
    margin-bottom: -5px;
}

@media screen and (min-width:650px) {
    #section-voyage {
        height: 1200px;
        margin-bottom: 0;
        top: 0;
        padding: 0 6%;
    }

    #section-voyage>figure>img {
        width: 305px;
        height: 164px;
        position: relative;
        left: 0;
        top: 50px;
        object-fit: cover;
        border-radius: 25px;
    }

    #btn-play {
        display: none;
    }

    #section-voyage-description {
        display: flex;
        justify-content: flex-start;
        justify-content: space-between;
        flex-direction: column;
        max-width: 550px;
        height: 550px;
        margin-top: 100px;
    }

    #section-voyage-description>h1 {
        font-family: 'Volkhov';
        font-style: normal;
        font-weight: 700;
        line-height: 89px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        font-size: 4.6rem;
    }

    #section-voyage-description>h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 30px;
        color: #FFFFFF;
        width: 420px;
    }

    #pict-intersection {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 1000px;
        top: -250px;
    }

    #pict-intersection>img {
        position: absolute;
        width: 50%;
        top: -40px;
        z-index: 899;
    }

    #pict-intersection>img:last-of-type {
        right: 0;
    }
}

@media screen and (min-width:1050px) {
    #pict-intersection {
        display: inline-block;
        position: relative;
        width: 50%;
        top: -270px;
        left: 0;
    }
}


/* ----------- SECTION - Commander - DESKTOP ---------- */


#section-commander {
    margin-top: 300px;
    padding-top: 400px;
    text-align: center;
    width: 100%;
}

#article-container-sect-commander {
    width: 90%;
    margin: 0 auto;
}

#section-commander>article>h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 21px;
    text-transform: uppercase;
    color: #5E6282;
}

#section-commander>article>h2 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
    color: #14183e;
    margin-top: 10px;
}

#section-commander>article>h2>span {
    color: #DF6951;
}

#section-commander>article>figure {
    display: flex;
    margin: 30px auto;
}

#section-commander>article>figure:last-of-type {
    margin-bottom: 50px;
}

#section-commander>article>figure>img {
    width: 60px;
    margin-right: 15px;
}

#section-commander>article>figure>figcaption {
    text-align: left;
}

#section-commander>article>figure>figcaption>span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 124.5%;
    color: #22232C;
}

#section-commander>article>figure>figcaption>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 137.5%;
    color: #3E3F43;
}

#section-commander>article>button {
    margin: 0 auto;
    display: block;
}

@media screen and (min-width:650px) {
    #section-commander {
        margin-top: -650px;
        padding-top: 400px;
        background-image: url(./img/illustration_commander.jpg);
        background-size: cover;
        text-align: left;
    }

    #btn-discover-commander {
        margin-left: 5%;
        margin-bottom: 50px;
    }

    #section-commander>article>h2 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width:1050px) {
    #section-commander>article>h2 {
        font-size: 3.1rem;
    }
}

/* ----------- SECTION - CONTACT - DESKTOP ---------- */

#section-formulaire {
    padding-top: 80px;
    text-align: center;
    width: 95vw;
    margin: 0 auto;
}

#section-formulaire>h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #5E6282;
    margin: 20px auto;
}

#section-formulaire>h2 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 142%;
    text-align: center;
    color: #14183E;
    width: 80%;
    margin: 10px auto;
}

#left-form>h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 20px;
    text-align: center;
    color: #8D8D8D;
    width: 50%;
    margin: 20px auto;
}

form {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
}

#left-form>h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 28px;
    color: #000000;
}

form>div {
    margin-bottom: 20px;
}

form>label,
form>input {
    display: block;
}

#container-lastname,
#container-firstname,
#container-mail,
#container-message {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form>div>label {
    font-size: 0.9rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}

form>div>input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 28px;
    color: #989898;
    border: none;
    border-bottom: 1px solid #e2e4e5;
}

#btn-form {
    background: #007AFF;
    font-size: 1.2rem;
    height: 48px;
    width: 140px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    box-shadow: 0px 20px 35px 5px rgb(11 54 59 / 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#btn-form:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#btn-form>img {
    margin-right: 5px;
}

@media screen and (min-width:650px) {
    #container-form-picture {
        width: 95%;
        max-width: 1020px;
        height: 580px;
        margin: 20px auto 100px auto;
        display: flex;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 30px;
        overflow: hidden;
    }

    #left-form {
        text-align: left;
        padding: 40px 7%;
        margin: 0;
    }

    #left-form,
    #right-form {
        width: 50%;
    }

    #left-form>form {
        margin: 0;
    }

    #left-form>h5 {
        text-align: left;
        margin: 10px 0;
        width: 90%;
    }

    form {
        width: 100%;
    }

    #right-form {
        background-image: url(./img/illustration_formulaire.jpg);
        background-size: cover;
        width: 50%;
        height: 100%;
    }
}

/* ----------- SECTION - FOOTER - DESKTOP ---------- */

#footer {
    background-color: #f3f3f3;
    height: fit-content;
    width: 100%;
    padding: 40px;
}

#container-footer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

#logo-footer {
    margin: 30px 0;
}

#logo-footer:hover img:first-of-type {
    animation: logo-animation 0.5s ease-in;
}

#logo-footer>img:first-of-type {
    margin-right: 10px;
}

#pushlane {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 147.5%;
    color: #5E6282;
    width: 60%;
    margin: 0 auto 30px auto;
}

#middle-footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: left;
    width: 100%;
    max-width: 350px;
}

#restaurant-footer,
#contact-footer {
    margin: 10px auto;
}

#restaurant-footer>span,
#contact-footer>span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 124.5%;
    color: #080809;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 124.5%;
    color: #5E6282;
}

#restaurant-footer>ul>li,
#contact-footer>ul>li {
    margin-bottom: 15px;
}

#restaurant-footer>span,
#contact-footer>span {
    margin-bottom: 10px;
    display: block;
}

#right-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-footer>img {
    margin: 30px auto 10px auto;
}

#right-footer>span {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 124.5%;
    letter-spacing: 0.005em;
    color: #5E6282;
    margin-bottom: 10px;
}

.btn-store-footer {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}
#btn-google:hover, #btn-apple:hover  {
transform: scale(1.05);
opacity: 0.9;
}

#btn-google {
    width: 135px;
    height: 40px;
    background-color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.7rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#btn-google>img {
    margin-right: 5px;
}

#btn-apple {
    width: 135px;
    height: 40px;
    background-color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.7rem;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-apple>img {
    margin-right: 5px;
}

#footer>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 124.5%;
    color: #5E6282;
    margin: 40px auto;
    text-align: center;
}

@media screen and (min-width:1315px) {
    #container-footer {
        justify-content: space-between;
    }

    #left-footer,
    #right-footer,
    #middle-footer {
        width: 33%;
    }
}